body {
    overflow: hidden;
    margin: 0;
}

.well {
    position: relative;
    overflow: hidden;
    transition: .5s cubic-bezier(0.5, 0, 0.5, 1);
}

.panel {
    position: relative;
    height: 100vh;
    overflow: hidden;
    /* font-size: 10vmin; */
    /* padding: 1em; */
    box-sizing: border-box;
    /* color: hsla(0, 0%, 100%, .1); */
    cursor: default;
}